.nav {

    height: 70px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 35px;


    background: #6366f1;


    box-shadow:

        0 8px 25px rgba(0, 0, 0, .25);


    position: sticky;

    top: 0;

    z-index: 1000;


}



.menuBar{


    width:40px;

    height:40px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    gap:6px;

    cursor:pointer;


}




.menuBar span{


    height:3px;

    background:white;

    border-radius:10px;

    transition:.35s;


}

/* first line */
.menuBar span:nth-child(1){

    width:25px;

}


/* middle line */
.menuBar span:nth-child(2){

    width:38px;

}


/* third line */
.menuBar span:nth-child(3){

    width:25px;

}








.leftsaid {

    display: flex;

    align-items: center;

    gap: 25px;

    margin: 0px 20px;
}




.users h1 {


    margin: 0;


    font-size: 22px;


    color: white;


    font-weight: 700;


    text-shadow:

        0 3px 8px rgba(0, 0, 0, .3);


}




.users p {


    margin: 2px 0;


    color: white;


    font-size: 13px;


    text-transform: capitalize;


    opacity: .85;


}






.rightSaid {


    display: flex;

    gap: 25px;

    align-items: center;


}




.icon {


    color: white;


    cursor: pointer;


    transition: .3s;


}



.icon:hover {


    transform: scale(1.2);


    filter:

        drop-shadow(0 5px 8px rgba(0, 0, 0, .3));


}




.notificationBox {


    position: relative;


}



.badge {


    position: absolute;


    top: -10px;


    right: -10px;


    background: #ef4444;


    color: white;


    font-size: 11px;


    font-weight: bold;


    width: 20px;


    height: 20px;


    border-radius: 50%;


    display: flex;

    align-items: center;

    justify-content: center;


    box-shadow:

        0 4px 10px rgba(0, 0, 0, .3);


}

@media(max-width:768px){


.nav{


    height:60px;

    padding:0 15px;


}




.leftsaid{


    gap:10px;

    margin:0;

}




.users h1{


    font-size:16px;

}



.users p{


    font-size:11px;

}



/* hide profile icon */


.rightSaid > div:first-child{


    display:none;

}



.rightSaid{


    gap:10px;

}



.menuBar{


    padding:8px;

}

.menuBar.active span:nth-child(1){


    transform:

    translateY(9px)

    rotate(45deg);


}



.menuBar.active span:nth-child(2){


    opacity:0;


}



.menuBar.active span:nth-child(3){


    transform:

    translateY(-9px)

    rotate(-45deg);

}




}